<!-- Welcome to {{title}}
Hello {{user}}

{{product1.productName}}

<ul>
  <li *ngFor="let product of products">{{product.productName}}</li>
</ul> -->
<!--ngFor angular için directive; ilgili html elementini manipule etmemize yarıyor. Burada li yi tekrarla demek.
let keyword u var gibi
*ngFor : built-in directive fakat biz kendi directive lerimizi de yazacağız-->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <app-category></app-category>
    </div>
    <div class="col-md-9">
      <app-product></app-product>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

